IFP DAM (primerAño)/LENGUAJE DE MARCAS/2 EVALUACIÓN/XMLconXSD/persona.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="persona">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string" />
                <xs:element name="apellidos" type="xs:string" />
                <xs:element name="estadoCivil" type="xs:string" />
                <xs:element name="edad" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="dni" type="xs:integer" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>